body {
    margin: 0;
    padding: 0;
}

/* HEADER */

.header {
    width: 100%;
    height: 50px;
    background-color: rgb(113, 113, 161);
    position: fixed;
}

/* HOME */

.container-home {
  margin-left: 10%;
  width: 80%;
  padding: 5px 5px;
  padding-top: 70px;
}

/* NOTES */

.container-notes {
  width: 100%;
  height: auto;
}

/* NOTE */ 

.container-note {
  display: flex;
  margin-top: 10px;
}

.container-note-paper {
  width: 80%;
  height: auto;
}

.container-note-buttons {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
}

/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(113, 113, 161);
  color: white;
  text-align: center;
}