body {
    margin: 0;
    padding: 0;
}

.link {
  text-decoration: none;
}

/* HEADER */

.header {
    width: 100%;
    height: 50px;
    background-color: rgb(113, 113, 161);
    position: fixed;
    z-index: 99;
}

/* HOME */

.container-home {
  margin-left: 10%;
  width: 80%;
  padding: 5px 5px;
  padding-top: 70px;
}

/* NOTES */

.container-notes {
  width: 100%;
  height: auto;
}

.title-notes {
  display: flex;
  border-bottom: 1px solid #757575;
  justify-content: space-between;
  align-items: center;
}

/* NOTE */ 

.container-note {
  display: flex;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-note-paper {
  margin-left: 2.5%;
  width: 75%;
  height: auto;
}

.container-note-buttons {
  width: 20%;
  margin-left: 2.5%;
  height: auto;
  display: flex;
  justify-content: center;
}

/* FORM NOTE */

.form-note {
  width: 80%;
  margin-left: 10%;
  height: auto;
  padding-top: 100px;
}

/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(113, 113, 161);
  color: white;
  text-align: center;
}

@media (max-width: 767px) {

  .h3-notes {
    font-size: 2.7em !important;
  }

  .container-home {
    margin-left: 2.5%;
    width: 95%;
  }

  .container-note-buttons {
    width: 20%;
    margin-left: 2.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 360px) {

  .h3-notes {
    font-size: 2em !important;
  }

  .note-icon {
    font-size: .8em !important;
  }
}